@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
}

.main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(#FFEEDD, #FFD8BE);
  height: 100vh;
  width: 100%;
  max-width: 600px;

}


h1 {
  font-family: 'Signika', sans-serif;
}

a {
  color: wheat;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#house {
  width: 130px;
  height: 200px;

}

.input {
  height: 300px;
}


.loginbutton {

  margin: 50px;
  background-color: #b8b8ff;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  width: 256px;
  height: 51px;

  background: #9381ff;

}

.signupbutton {

  margin: 50px;
  background-color: #b8b8ff;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 256px;
  height: 51px;

}